

.main {
  width: 100vw;
  height: 100vh;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.barra-superior {
  width: 35em;
  display: flex;
  flex-direction: row;
  background-color: hsl(10, 79%, 65%);
  justify-content: space-between;
  border-radius: 1em;
}

.balance {
  border-radius: 1em;
  font-family: 'DM Sans';
  font-weight: 400;
  color: rgb(255, 255, 255)
}
.simbolos-circulares {

  background-color: azure;
  border-radius: 1em;
}

.contenedor-principal {
  margin-top: 1em;
  width: 35em;
  height: 40em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.grafico {
  display: flex;
  flex-direction: row;
}
.barras {
  height: 20em;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.item-amount {
  margin-left: 1em;
  text-align: center;
  width: 3.5em;
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.3em;
}

.item-actual-day {
    margin-left: 1em;
    text-align: center;
    width: 3.5em;
    background-color: hsl(186, 34%, 60%);
    border-radius: 0.3em;
}
.item-day{
  text-align: center;
  margin-left: 1em;
  width: 3.5em;  
}
hr {
  width: 90%;
  border: solid 1px gray
}
.contenedor-totales {
  display: flex;
  justify-content: space-between;
}